<header>
    <div class="container-fluid  border fixed-top p-0  ">
        <nav class="navbar navbar-expand-lg navbar-light bg-white m-0">
           <figure>
                <img src="{{ url_for('static', filename='images/logo4.png') }}" alt="VHelper - Assistencia Virtual">
            </figure>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto text-center text-lg-left">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html" alt="Página inicial">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about" alt="Página de servico">SERVIÇO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contato.html" alt="Página de contato">CONTATO</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>