{% extends 'layouts/_base.html' %}

{% block title %} Index {% endblock %}

{% block content %}

    {% include 'layouts/_navbar.html' %}
    <!-- /navigation -->

    <!-- hero area -->
    <section class="section bg-white">
        <div class="container ">
            <div class="row">
                <div class="col-md-6 text-center mb-5 mb-md-0">
                    <img src="{{ url_for('static', filename='images/watch.png') }}" alt="">
                </div>
                <div class="col-md-6 align-self-center text-center text-md-left">
                    <div class="block">
                        <h1 class="font-weight-bold mb-4 font-size-60">Sistema de PDV completo e eficiente para seu
                            negócio</h1>
                        <p class="mb-4">LA PDVend é um sistema de PDV com gestão que te ajudará a controlar o seu
                            negócio, facilitando a sua vida</p>
                        <a class="btn btn-main" href="#about" role="button">Testar pro 7 dias grátis</a>
                    </div>
                </div>
            </div><!-- .row close -->
        </div><!-- .container close -->
    </section><!-- header close -->


    <!-- 
        Feature start
        ==================== -->
    <section class="section  bg-white">
        <div class="container ">
            <div class="row">
                <div class="col-12 ">
                    <div class="heading">
                        <h2>O que a gente faz para melhorar <br> <span>a sua vida/h2> </pan>
                    </div>
                </div>
                <div class="col-md-4 mb-40 mt-4 text-md-left ">  
                
            
                    <div class="item1 ">
                        <div class="lista text-center">
                        <img src="{{ url_for('static', filename='images/nuvem5.png') }}">
                    </div>
                     <div class="descricao border text-center">
                        <h2 class="font-weight-bold mb-2 pt-3">Baixo investimento</h2>
                        <p >Não precisa pagar licença ou taxa de adesão, apenas uma assinatura mensal</p>
                    </div>
                    </div>
                </div>
                 <div class="col-md-4 mb-40  text-md-left">  
                
            
                    <div class="item2 ">
                        <div class=" lista2 text-center ">
                        <img src="{{ url_for('static', filename='images/nuvem5.png') }}">
                    </div>
                     <div class="descricao2 border text-center">
                        <h2 class="font-weight-bold mb-2 pt-3">Baixo investimento</h2>
                        <p >Não precisa pagar licença ou taxa de adesão, apenas uma assinatura mensal</p>
                    </div>
                    </div>
                    </div>
              
               
                    <div class="col-md-4 mb-40 mt-4 text-md-left ">  
                
            
                        <div class="item3 ">
                            <div class="lista text-center">
                            <img src="{{ url_for('static', filename='images/nuvem5.png') }}">
                        </div>
                         <div class="descricao border text-center">
                            <h2 class="font-weight-bold mb-2 pt-3">Baixo investimento</h2>
                            <p >Não precisa pagar licença ou taxa de adesão, apenas uma assinatura mensal</p>
                        </div>
                        </div>
                    </div>
                   
                 

                </div>
            </div>
        </div><!-- .container close -->
    </section><!-- #service close -->

    <section class="section bg-blue">
        <div class="container ">
            <div class="row">
               
                <div class="col-md-12 align-self-center text-center text-md-left">
                    
                    <div class="content">
                       
                        <h2 class="subheading  text-white text-center font-weight-bold mb-10">Conheça nossas funcionalidades</h2>
                        <p class="text-white text-center">Veja o relatório de vendas, podendo determinar o período, status de
                            vendas, tipos de relatórios e procurar por número de documento.
                            Saiba também sobre as vendas por:</p>
                        <h3 class="text-white font-weight-bold text-center "> Vendedor Produto  Cliente</p>
                        </h3>
                        <p class="text-white text-center">Tenha integração com leitor de código de barras e desconto global e
                            unitário. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="feature-list section ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>Nossas <span>Integrações </span></h2>
                    </div>
                </div>

            </div>
            <div class="row mb-40">
                <div class="col-md-6 text-center mb-5 mb-lg-0">
                    <img class="img-fluid" src="{{ url_for('static', filename='images/showcase-4.png') }}" alt="">
                </div>
                <div class="col-md-6 align-self-center text-center text-md-left">
                    <div class="content">
                        <h4 class="subheading">Lorem ipsum dolor sit amet.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, sed, assumenda. Tenetur
                            sed esse, voluptas voluptate est veniam numquam, quis magni. Architecto minus suscipit
                            quas, quo harum deserunt consequatur cumque!</p>
                        <a href="" class="btn btn-main btn-main-sm">Check Features</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
                    <div class="content">
                        <h4 class="subheading">Lorem ipsum dolor sit amet.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, sed, assumenda. Tenetur
                            sed esse, voluptas voluptate est veniam numquam, quis magni. Architecto minus suscipit
                            quas, quo harum deserunt consequatur cumque!</p>
                        <a href="#" class="btn btn-main btn-main-sm">Check Features</a>
                    </div>
                </div>
                <div class="col-md-6 order-md-2 order-1 text-center mb-5 mb-lg-0">
                    <img class="img-fluid" src="{{ url_for('static', filename='images/showcase-3.png') }}" alt="">
                </div>
            </div>
        </div>
    </section>


    <section class="gallery bg-cinza">
        <div class="container  ">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="heading ">
                        <h2>Depoimentos</h2>
                    </div>
                    <div class="col-lg-12 text-center tamanho-depoimento ">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="testimonial-block">
                                        <i class="tf-ion-quote"></i>
                                        <p>
                                            A wonderful serenity has taken possession of my entire soul, like these
                                            sweet mornings of
                                            spring which I enjoy with my whole heart. I am alone, and feel the charm of
                                            existence in
                                            this spot, which was created for the bliss of souls like mine. I am so
                                            happy, my dear
                                            friend, so absorbed in the exquisite sense of mere tranquil existence, that
                                            I neglect my
                                            talents.
                                        </p>
                                        <div class="author-details-depoimento ">
                                            <img src="{{ url_for('static', filename='images/avater.png') }}" alt="">
                                            <h4> <span>Jonathon Andrew </span></h4>

                                        </div>
                                    </div>
                                </div>

                                <div class="carousel-item tamanho-depoimento">
                                    <div class="testimonial-block">
                                        <i class="tf-ion-quote"></i>
                                        <p>
                                            A wonderful serenity has taken possession of my entire soul, like these
                                            sweet mornings of
                                            spring which I enjoy with my whole heart. I am alone, and feel the charm of
                                            existence in
                                            this spot, which was created for the bliss of souls like mine. I am so
                                            happy, my dear
                                            friend, so absorbed in the exquisite sense of mere tranquil existence, that
                                            I neglect my
                                            talents.
                                        </p>
                                        <div class="author-details-depoimento">
                                            <img src="{{ url_for('static', filename='images/avater.png') }}" alt="">
                                            <h4> <span>Jonathon Andrew </span></h4>

                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item tamanho-depoimento">
                                    <div class="testimonial-block">
                                        <i class="tf-ion-quote"></i>
                                        <p>
                                            A wonderful serenity has taken possession of my entire soul, like these
                                            sweet mornings of
                                            spring which I enjoy with my whole heart. I am alone, and feel the charm of
                                            existence in
                                            this spot, which was created for the bliss of souls like mine. I am so
                                            happy, my dear
                                            friend, so absorbed in the exquisite sense of mere tranquil existence, that
                                            I neglect my
                                            talents.
                                        </p>
                                        <div class="author-details-depoimento">
                                            <img src="{{ url_for('static', filename='images/avater.png') }}" alt="">
                                            <h4> <span>Jonathon Andrew </span></h4>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </section>


    <section class="call-to-action section bg-opacity bg-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 text-center mx-auto">
                    <h2 class="subheading text-white">Receba Atualizações Do Produto</h2>
                    <p class="text-white">VHelper dominante do consumidor, descontos aprimoradas, e muito mais</p>
                    <div class="input-group">
                        <form action="#" class="w-100">
                            <input type="email" id="email" class="form-control" name="email" placeholder="Email"
                                required>
                            <button class="btn btn-main btn-submit" type="submit">Enviar</button>
                        </form>
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>
    </section><!-- #call-to-action close -->


   {% include 'layouts/_footer.html' %}

{% endblock %}
